  /*Active link (highlighted current page link) */
.active-link {
  color: #ffd70f;
  font-weight: 600;
  text-shadow: 0 0 8px #ffd70f;
  border-bottom: 2px solid #ffd70f;
  padding-bottom: 3px;
  transition: all 0.3s ease;
}

/*Hover effect (सभी लिंक पर hover पर light blue glow) */
.nav-links a:hover,
.mini-menu-box a:hover {
  color: #ffd70f;
   text-shadow: 0 0 8px #ffd70f;
}


  /* ========== NAVBAR ========== */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #141414;
    padding: 22px 50px;
    box-shadow: 0 20px 15px -5px rgba(85, 86, 86, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
    flex-wrap: nowrap;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0ff;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  .nav-links {
    display: flex;
    gap: 30px; 
  }

  .nav-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
  }

  /* Search bar */
  .search-container {
    display: flex;
    align-items: center;
  }

  .search-container input {
    width: 220px;
    padding: 4%;
    border: 1px solid rgb(107, 111, 111);
    border: none;
    border-bottom: 1px solid rgb(154, 154, 154);
    background: #111;
    color: #0ff;
  }

  .search-container input::placeholder {
    color: #05f4f490;
    padding-left: 10%;
    font-size: 15px;
    
    align-items: center;
  }

  /* ===== MINI MENU BOX ===== */
  .mini-menu-box {
    position: fixed;
    bottom: 0;
    right:1;
    background: #111;
    border:none;
    border-radius: 15px;
    box-shadow: 0 0 15px #0fffff55;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    transition: all 0.3s ease;
  }
  .mobile-only {
    display: none;
  }
  .mini-menu-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #0fffff88;
  }

  .mini-menu-box a {
    color: rgb(248, 250, 182);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    padding: 6px 0;
    border-radius: 8px;
    background: #222;
    transition: 0.3s;
  }

  .mini-menu-box a:hover {
    background: #0fffff;
    color: #000;
  }

  /* ===== INNER POPUP BOX ===== */
  .more-box {
    position: relative;
  }

  .more-btn {
    background: #111;
    margin-right: 0px;
    display: flex;
    color: rgb(248, 250, 182);
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    /* width: 125%; */
  }

  .inner-box {
    display: none;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    bottom: 35px;
    right: 0;
    background: #111;
    border: 2px solid #0fffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 15px #0fffff66;
  }

  .more-box:hover .inner-box {
    display: flex;
  }

  .inner-box a {
    background: #222;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .inner-box a:hover {
    background: #0fffff;
    color: #000;
  }
